/* Import Google Fonts - Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/* do not have inline comments */

/* Color Variables */
:root {
    --primary-color: #0e2b5c; /*https://coolors.co/1560bd Denim*/
    --secondary-color: #0c659b; 
    --accent-color: #fe5d26; 
    --accent-color-gold : #f6ae2d; 
    --accent-color-red: #cc2936; 
    --highlight-color: #5bc0eb; 
    --text-color: #37392e; 
    --text-color-shade: #555555; 
    --text-color-heading: #272525; 
    --white-color: #ffffff;
    --light-gray: #f8f9fa; 
    --bg-shade: #edf2fb; 
    --bg-a: #AFDBF5;
    --bg-b: #FFEFD5;
    --bg-c: #FFEFD5;
    --bg-d: #AFDBF5;
    --transition-timing-function: ease-in-out;
}

/* Basic Body Styles */
body {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    background-color: var(--light-gray);
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", serif;
    color: var(--text-color-heading);
    margin-top: 0;
    font-weight: 700; 
}

h1 {
    font-size: 3.5rem; 
    font-weight: 800;
    color: var(--primary-color);
    letter-spacing: -1px;
}

h2 {
    font-size: 2.7rem;
    letter-spacing: -1px;
    line-height: 3rem;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.4em;
}

h6{
    letter-spacing: normal;
}

/* Paragraphs */
p {
    margin-top: 0;
    margin-bottom: 1rem; 
    font-size: 1rem;
    font-weight: 400; 
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease; 
}

a:hover {
    text-decoration: none;
}

/* General Container for content width */
.container {
    max-width: 1200px; 
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px; 
    padding-right: 15px;
}

.bg-a {
    background-color: var(--bg-a);
    color: var(--text-color);
    /* grid-area: 1 / 1 / 2 / 2; */

/*     
    h4, p, .bi{
        color: var(--white-color);
    } */
}

.bg-b {
    background-color: var(--bg-b);
    color: var(--text-color);
    /* grid-area: 2 / 1 / 3 / 2;
    grid-row: 2 / 4; */
}

.bg-c {
    background-color: var(--bg-c);
    /* grid-area: 1 / 2 / 2 / 3;
    grid-row: 1 / 3; */
}

.bg-d {
    background-color: var(--bg-d);
    /* grid-area: 3 / 2 / 4 / 3; */
    /* h4, p, .bi{
        color: var(--white-color);
    } */

}

.btn{
    border-radius: 40px;
    padding: 12px 24px;    
}

.btn-primary {
    background-color: var(--primary-color);
    border: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--secondary-color) !important;
}

.btn-link {
    color: var(--white-color);
    text-decoration: underline;
    padding: 0;
}

.btn-link:hover {
    color: var(--white-color);
    text-decoration: none;
}

img{
    border-radius: 32px !important;
}


/* Header */
header {
    position: relative; /* Essential for z-index to work */
    z-index: 1000001;
    background-color: var(--white-color);

}

header .navbar-fa{
    position: relative; /* Essential for z-index to work */
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    z-index: 1000001;
}

.navbar-brand{
    z-index: 1000002;
    background-color: var(--white-color);

}

.navbar-brand img {
    max-height: 70px;
    width: auto; 
    border-radius: 0 !important;
}

.navbar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-menu ul li:not(:last-child) {
    margin-right: 20px; 
}

#hamburger-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px; /* Width of the icon */
    height: 25px; /* Height of the icon */
    padding: 0;
    position: relative;
    z-index: 1000002;
}

#hamburger-toggle .bar {
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 2px;
    transition: all 0.3s ease-in-out; /* Smooth transition for bars */
}

/* Hamburger to Close Button Transformation when 'active' class is added */
#hamburger-toggle.active .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg); /* Move down and rotate */
}

#hamburger-toggle.active .bar:nth-child(2) {
    opacity: 0; /* Hide the middle bar */
}

#hamburger-toggle.active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg); /* Move up and rotate */
}

.mobile-nav-overlay {
    position: fixed;
    background-color: var(--white-color);
    width: 100%;
    z-index: 100000;
    top: 0; /* Position from the top */
    left: 0; /* Position from the left */
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%); /* Start off-screen above */
    transition: transform 0.5s var(--transition-timing-function), opacity 0.5s var(--transition-timing-function), visibility 0.2s linear 0.5s;
}

.mobile-nav-overlay.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); /* Slide down to original position */
    transition-delay: 0s; /* Ensure no delay when opening */
}

.mobile-nav-content{
    opacity: 0;
    transform: translateY(-100%); /* Start off-screen above */
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1) 0.1s, opacity 0.3s ease-in-out 0.1s;
    padding-top: 60px; /* Adjust as needed for content placement */
}

.mobile-nav-content.active {
    transform: translateY(0) scale(1); /* Slide down to original position */
    opacity: 1;
    transition-delay: 0s;
}

.mobile-nav-content nav {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;

    .nav-item:not(:last-child) {
        margin-bottom: 15px;
    }
}

section {
    padding: 6rem 0; 
}

#hero-section{
    img{
        width: 100%;
        height: auto;
        max-height: 450px; 
        object-fit: cover; 
    }

    p{
        font-size: 1.2rem;
        margin-top: 1rem;
    }
}

#why-section{
    background-color: var(--white-color);

        p.body-text{
        font-size: 1.2rem;
        margin-top: 1rem;
    }
}

#why-section .features{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 45% 10% 45%; */
  grid-template-rows: auto auto auto auto;
  gap: 18px;
  grid-auto-flow: row;
  grid-auto-columns: auto;
}


#why-section .features .features-item {
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
    height: auto;
    border-radius: 16px;

    .bi{
        font-size: 3rem;
        margin-bottom: 10px;
    }
}

#we-are {
    background-color: var(--bg-shade);
    padding: 50px 0;
}

#we-are .team .card {
    border: none;
    border-radius: 0;
    background-color: transparent;
    position: inherit;
} 

#we-are .team .card .card-body {
    background-color: transparent !important;
    padding-left: 0;
    padding-right: 0;
} 

.card-img-top{
    transition: transform 0.3s ease-in-out, border-radius 0.1s ease-in-out;
    width: auto;
    height: 320px !important;
    object-fit: cover;
    border-radius: 16px !important;
}

#we-are .team .card:hover   .card-img-top {
    transform: scale(1.05);
} 

.page-header{
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 4rem 0;
    
    h1{
        color: var(--white-color);
    }


    .breadcrumb{
        font-size: 1.3rem;
        font-weight: 500; 
        color: var(--white-color);
    }

    .breadcrumb .breadcrumb-item, .breadcrumb .breadcrumb-item a {
        color: var(--white-color);
    }

    .breadcrumb-item+.breadcrumb-item::before{
        content: "/";
        color: var(--white-color);
    } 
}

#services-section{
    img{
        width: 100%;
        height: auto;
        max-height: 450px; 
        object-fit: cover; 
    }

    p{
        font-size: 1.2rem;
        margin-top: 1rem;
    }
}

#services-list-section{
    background-color: var(--bg-shade);

    article{
        border-bottom: 1px solid var(--text-color-shade);
        margin-bottom: 2.75rem;
    }
}

footer {
    padding: 32px 0;
}

footer .footer-info {
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;

    h6 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        font-weight: 700;
        color: var(--text-color-heading);
    }
}

footer .footer-info .footer-logo img {
    max-height: 80px;
    border-radius: 0 !important;
}

.footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;

    li:not(:last-child) {
        margin-bottom: 10px;
    }
}

.footer-contact {
    .social-icons .bi{
        font-size: 1.5rem;
    }

    .social-icons a {
        margin-right: 10px;
        color: var(--text-color);
        transition: color 0.3s ease;
    }
}

.footer-bottom .container{
    border-top: 1px solid var(--bg-shade);
    padding-top: 20px;

    p{
        margin-bottom: 0;
        text-align: center;
    }
}

/* Mobile Responsiveness */
@media (max-width: 576px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.2rem;
    }

    header {
        position: fixed;
        width: 100%;
    }

    header #desktop-navbar, header .navbar-contact {
        display: none;
    }

    .navbar-brand img {
        max-height: 55px;
    }

    #hamburger-toggle {
        display: flex; 
    }

    .container {
        padding-left: 25px; 
        padding-right: 25px;
    }

    section{
        padding: 3rem 0; 
    }

    .page-header{
        padding-top: 8rem;
    }

    #hero-section {

        padding-top: 8rem;

        img {
            max-height: 300px; 
        }
    }

    #why-section .features{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }

    .bg-a, .bg-b, .bg-c, .bg-d {
        grid-area: unset; 
        grid-row: unset; 
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    footer .footer-info {
        flex-direction: column;
    }

    footer .footer-info .footer-logo img {
        max-height: 60px;
        margin-bottom: 1rem;
    }

    .footer-links ul{
        margin-bottom: 2rem;

        li:last-child {
            margin-bottom: 10px;
        }
    }

}